<!-- #TODO: Add CSS to table colouring.
      -->

<!-- <CalendarSnippet> -->
{% extends "tutorial/layout.html" %}
{% block content %}
{% load custom_tags %}
<h1>Calendar</h1>
{% if customer %}

    <table class="table">
       <thead>
	 <tr>
	   <th scope="col">
              <form> 
	      <label for="week">Choose a week:</label>
              <select name="week" id="week" autocomplete="off" onchange='this.form.submit()'>
              {% for week in calendar  %}
                <option value="{{ week.0 }}" {% if week.2 %}selected="selected"{%endif%}>{{ week.1 }}</option>
              {% endfor %}
              </select>
	      <noscript><input type="submit" value="Submit"></noscript>
	      </form>

	   </th>
	   <th scope="col">&nbsp;</th>
	   <th scope="col">&nbsp;</th>
	   <th scope="col">&nbsp;</th>
	   <th scope="col">&nbsp;</th>
	   <th scope="col">&nbsp;</th>
	   <th scope="col">&nbsp;</th>
	   <th scope="col">&nbsp;</th>
         </tr>
       </thead>
       <tbody>

       {% for customer in customer.items %}

       <tr>
	   <th bgcolor="Gainsboro">{{ customer.0 }}</th>
	   <th bgcolor="Gainsboro">Sat</th>
	   <th bgcolor="Gainsboro">Sun</th>
           <th bgcolor="Gainsboro">Mon</th>
	   <th bgcolor="Gainsboro">Tue</th>
	   <th bgcolor="Gainsboro">Wed</th>
           <th bgcolor="Gainsboro">Thu</th>
           <th bgcolor="Gainsboro">Fri</th>
       </tr>
  {% for entry in customer.1.items  %}
  <tr>
	  <td>{{ entry.0 }} </td>
                 <td bgcolor="Gainsboro">{{ entry.1.5|duration }}</td>
                 <td bgcolor="Gainsboro">{{ entry.1.6|duration }}</td>
                 <td>{{ entry.1.0|duration }}</td>
                 <td>{{ entry.1.1|duration }}</td>
                 <td>{{ entry.1.2|duration }}</td>
                 <td>{{ entry.1.3|duration }}</td>
                 <td>{{ entry.1.4|duration }}</td>
        </tr>
	  {% endfor %}
  {% endfor %}
  <tr>
	  <td><b>TOTAL ({{ totaltime.7|duration }} hrs):</b> </td>
                 <td bgcolor="Gainsboro"><b>{{ totaltime.5|duration }}</b></td>
                 <td bgcolor="Gainsboro"><b>{{ totaltime.6|duration }}</b></td>
                 <td><b>{{ totaltime.0|duration }}</b></td>
                 <td><b>{{ totaltime.1|duration }}</b></td>
                 <td><b>{{ totaltime.2|duration }}</b></td>
                 <td><b>{{ totaltime.3|duration }}</b></td>
                 <td><b>{{ totaltime.4|duration }}</b></td>
        </tr>

  </tbody>
</table>

{% endif %}
{% endblock %}
<!-- </CalendarSnippet> -->
