<!-- #TODO: Add CSS to table colouring.
      -->

<!-- <CalendarSnippet> -->
{% extends "tutorial/layout.html" %}
{% block content %}
{% load custom_tags %}
<h1>Calendar</h1>
<style>
      table {
        font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
      }

      table td + td {
	border-left:1px solid Gainsboro; 
	vertical-align: middle;
      }

      tr:nth-of-type(odd) {
        background-color: WhiteSmoke;
      }

</style>

{% if customer %}

    <a href="calendar/download?{% for key, value in request.GET.items %}{{key}}={{value}}&{% endfor %}">Transfer to Salesforce</a>
    <table class="table">
       <thead>
	 <tr>
	   <th scope="col">
              <form> 
	      <label for="week">Choose a week:</label>
              <select name="week" id="week" autocomplete="off" onchange='this.form.submit()'>
              {% for week in calendar  %}
                <option value="{{ week.7 }}" {% if week.9 %}selected="selected"{%endif%}>{{ week.8 }}</option>
              {% endfor %}
              </select>
	      <noscript><input type="submit" value="Submit"></noscript>
	      </form>

	   </th>
	   <th scope="col">&nbsp;</th>
	   <th scope="col">&nbsp;</th>
	   <th scope="col">&nbsp;</th>
	   <th scope="col" colspan="4" >Time values in decimal</th>
	   <th scope="col">&nbsp;</th>
         </tr>

       </thead>
       <tbody>
       <tr>
               <td bgcolor="Gainsboro">&nbsp;</td>
               <td bgcolor="Gainsboro">SAT</br>{{ currentweek.0|month_day }}</td>
               <td bgcolor="Gainsboro">SUN</br>{{ currentweek.1|month_day }}</td>
               <td bgcolor="Gainsboro">MON</br>{{ currentweek.2|month_day }}</td>
               <td bgcolor="Gainsboro">TUE</br>{{ currentweek.3|month_day }}</td>
               <td bgcolor="Gainsboro">WED</br>{{ currentweek.4|month_day }}</td>
               <td bgcolor="Gainsboro">THU</br>{{ currentweek.5|month_day }}</td>
               <td bgcolor="Gainsboro">FRI</br>{{ currentweek.6|month_day }}</td>
               <td bgcolor="Gainsboro">SUM</td>
       </tr>

       {% for customername,customertime in customer.items %}
       <tr>

	   <th bgcolor="Gainsboro">{{ customername }}</th>
	   <th bgcolor="Gainsboro">{{ customer_totaltime|get_dict_value:customername|get_dict_value:5 }}</th>
	   <th bgcolor="Gainsboro">{{ customer_totaltime|get_dict_value:customername|get_dict_value:6 }}</th>
	   <th bgcolor="Gainsboro">{{ customer_totaltime|get_dict_value:customername|get_dict_value:0 }}</th>
	   <th bgcolor="Gainsboro">{{ customer_totaltime|get_dict_value:customername|get_dict_value:1 }}</th>
	   <th bgcolor="Gainsboro">{{ customer_totaltime|get_dict_value:customername|get_dict_value:2 }}</th>
	   <th bgcolor="Gainsboro">{{ customer_totaltime|get_dict_value:customername|get_dict_value:3 }}</th>
	   <th bgcolor="Gainsboro">{{ customer_totaltime|get_dict_value:customername|get_dict_value:4 }}</th>
	   <th bgcolor="Gainsboro">{{ customer_totaltime|get_dict_value:customername|get_dict_value:7 }}</th>

       </tr>
       <tr>
               <td bgcolor="Gainsboro">&nbsp;</td>
               <td bgcolor="Gainsboro">SAT</td>
               <td bgcolor="Gainsboro">SUN</td>
               <td bgcolor="Gainsboro">MON</td>
               <td bgcolor="Gainsboro">TUE</td>
               <td bgcolor="Gainsboro">WED</td>
               <td bgcolor="Gainsboro">THU</td>
               <td bgcolor="Gainsboro">FRI</td>
               <td bgcolor="Gainsboro">SUM</td>
       </tr>
  {% for entry in customertime.items  %}
  <tr>
	  <td{% if entry.0 == "Others" %} bgcolor="PaleVioletRed" {% endif %}>{{ entry.0 }} </td>
                 <td bgcolor="Gainsboro">{{ entry.1.5 }}</td>
                 <td bgcolor="Gainsboro">{{ entry.1.6 }}</td>
                 <td{% if entry.0 == "Others" %} bgcolor="PaleVioletRed" {% endif %}>{{ entry.1.0 }}</td>
                 <td{% if entry.0 == "Others" %} bgcolor="PaleVioletRed" {% endif %}>{{ entry.1.1 }}</td>
                 <td{% if entry.0 == "Others" %} bgcolor="PaleVioletRed" {% endif %}>{{ entry.1.2 }}</td>
                 <td{% if entry.0 == "Others" %} bgcolor="PaleVioletRed" {% endif %}>{{ entry.1.3 }}</td>
                 <td{% if entry.0 == "Others" %} bgcolor="PaleVioletRed" {% endif %}>{{ entry.1.4 }}</td>
                 <td{% if entry.0 == "Others" %} bgcolor="PaleVioletRed" {% endif %}>{{ entry.1.7 }}</td>
        </tr>
	  {% endfor %}
	  <tr><td colspan="9">&nbsp;</td>
       </tr>

  {% endfor %}
  <tr>
	  <td><b>TOTAL:</b> </td>
                 <td bgcolor="Gainsboro"><b>{{ totaltime.5|duration_decimal }}</b></td>
                 <td bgcolor="Gainsboro"><b>{{ totaltime.6|duration_decimal }}</b></td>
                 <td><b>{{ totaltime.0|duration_decimal }}</b></td>
                 <td><b>{{ totaltime.1|duration_decimal }}</b></td>
                 <td><b>{{ totaltime.2|duration_decimal }}</b></td>
                 <td><b>{{ totaltime.3|duration_decimal }}</b></td>
                 <td><b>{{ totaltime.4|duration_decimal }}</b></td>
		 <td bgcolor="Gainsboro"><b>{{ totaltime.7|duration_decimal }}</b></td>
        </tr>

  </tbody>
</table>
     <a href="calendar/download?{% for key, value in request.GET.items %}{{key}}={{value}}&{% endfor %}">Transfer to Salesforce</a>

{% endif %}
{% endblock %}
<!-- </CalendarSnippet> -->
